<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twobuntu.twobuntu"
    android:installLocation="auto"
    android:versionCode="14"
    android:versionName="1.2.0" >

    <!-- This app will only run on Android 2.3+. -->
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
    
    <!-- We require permission to retrieve files from the Internet
         and to be notified when the system boots. We also need to
         use the vibrator if the user wishes to enable it later.  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Displays a list of articles. -->
        <activity
            android:name="com.twobuntu.ui.ArticleListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
