<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twobuntu.twobuntu"
    android:installLocation="auto"
    android:versionCode="11"
    android:versionName="1.1.4" >

    <!-- This app will only run on Android 4.x+. -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <!-- We require permission to retrieve files from the Internet
         and to be notified when the system boots.  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:logo="@drawable/ic_logo"
		android:name=".TwobuntuApplication"
        android:theme="@style/AppTheme" >
        
        <!-- Displays a list of articles. -->
        <activity
            android:name=".ArticleListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Displays an individual article. -->
        <activity
            android:name=".ArticleDetailActivity"
            android:parentActivityName=".ArticleListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleListActivity" />
            <!--
            This is not functional yet.
            <intent-filter>
                <data android:scheme="http"
                      android:host="2buntu.com" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            -->
        </activity>
        
        <!-- Displays comments for an article. -->
        <activity
            android:name=".ArticleCommentsActivity"
            android:parentActivityName=".ArticleDetailActivity" >
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleDetailActivity" />
        </activity>
        
        <!-- Displays configurable settings. -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings"
            android:theme="@style/SettingsTheme" >
        </activity>
        
        <!-- Periodically updates the articles in the database. -->
        <service android:name="com.twobuntu.service.UpdateService" />
        
        <!-- A receiver for boot broadcast events. -->
        <receiver
            android:name="com.twobuntu.service.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <!-- A content provider for article information. -->
        <provider
            android:name="com.twobuntu.db.ArticleProvider"
            android:authorities="com.twobuntu.articleprovider"
            android:exported="false" />
        
    </application>
</manifest>
