/* Declare the Ubuntu Light font used for WebView. */
@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/UbuntuLight.ttf);
}

/* Set the font page-wide. */
body {
    font-family: Ubuntu;
}

/* Ensure images are not wider than the page. */
img {
    max-width: 100%;
}

/* Style the header that appears at the top of each article. */
header>div {
    margin-bottom: 8px;
    overflow: auto;
}

header img {
    float: left;
    height: 48px;
    margin: 2px 8px 0 0;
    width: 48px;
}

header h2,
header table {
    font-weight: bold;
    padding: 0 4px;
}

header h2 {
    color: #e1662f;
    font-size: 18pt;
    margin: 0;
}

header table {
    border-bottom: 1px solid #e1662f;
    border-top: 1px solid #e1662f;
    box-sizing: border-box;
    width: 100%;
}

header table td:nth-child(2) {
    text-align: right;
}

li, p {
    text-align: justify;
}

/* Disqus comment box needs a margin near the top. */
#disqus_thread {
    margin-top: 16px;
}

.dsq-brlink {
    display: block;
    text-align: center;
}

/* Make sure alerts are styled properly. */
.alert {
    background-color: #eee;
    border-color: #ddd;
    margin: 10px 0;
    overflow: auto;
    padding: 8px;
}

.alert.alert-icon:before {
    content: "";
    float: left;
    height: 48px;
    margin: 0 16px 8px 0;
    width: 48px;
}

.alert.alert-icon.alert-info:before    { background-image: url(../img/info.png); }
.alert.alert-icon.alert-warning:before { background-image: url(../img/warning.png); }
.alert.alert-icon.alert-danger:before  { background-image: url(../img/danger.png); }
